@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700;1,800&display=swap');

body{
	 font-family: "Open Sans", sans-serif;
	 padding: 0;
	 margin: 0;
}

h1{
	font-weight: 800;
	font-size: 50px;
}

h2{
	font-weight: 800;
	font-size: 50px;
}

h3{
	font-weight: bold;
	font-size: 30px;
}

h4{
	font-weight: bold;
	font-size: 20px;
}

p{
font-weight: bold;
font-size: 30px;
margin: 30px 0;
}

.wrapper{
	width: 960px;
	margin: 0 auto;
}

.hero-banner{
	background-color: #007fff;
	height: 100vh;
	padding: 50px 20px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.hero-banner h4,
.hero-banner h4 a{
	color: white;
	margin: 0px;
}

.hero-banner h3{
	color: white;
	margin: 0 0 35px;
}

.hero-banner h1{
	color: white;
	margin: 14px 0 20px;
}

.character1{
	background: url(circle-guy.png) no-repeat 0 0;
	background-size: 100%;
	width: 363px;
	height: 344px;
	position: absolute; top: 10%; right: 89px;
	transform: rotate(15deg);

}

.character2{
	background: url(sticky-guy-1.png) no-repeat 0 0;
	background-size: 78%;
	width: 309px;
	height: 344px;
	position: absolute; top: 213px; right: 277px;
}

.character3{
	background: url(eish-guy.png) no-repeat 0 0;
	background-size: 74%;
	width: 297px;
	height: 286px;
	position: absolute; bottom: 74px; right: 109px;
}

a.cta,
button.cta{
	font-size: 30px;
	font-weight: bold;
	color: white;
	background: #007fff;
	display: inline-block;
	box-shadow:0 0 0 10px solid rgba(0,127,255,.15);
	padding: 20px 30px;
	border-radius: 10px;
	text-decoration: none;
}

a.cta.alt,
button.cta.alt{
	background-color: #ffd400;
	color: #111111;
	box-shadow:0 0 0 10px rgba(0,0,0,0.15);
	 
}
nav{
	height: 100px;
	background-color: white;
	box-shadow: 0 5px 8px rgba(0,0,0,.2);
	position: sticky;
	top: 0
}

nav .logo{
	display: block;
	width: 300px;
	height: 40px;
	position: absolute; top: 50%; left: 0;
	margin-top: -20px;
	margin-left: 30px;
	background: url(logo.png) no-repeat 0 0;
	background-size: 100%;
	overflow: hidden;
	text-indent: 10000px;
	
}
nav ul{
	padding: 0;
	margin: 0 20px 0 0;
}

nav ul li{
	margin: 0;
	padding: 0;
	display: block;
	float: right;
}

nav ul li a{
	display: block;
	height: 100%
	box-sizing: border-box;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	color: #111111;
	text-decoration: none;
	padding: 35px 10px;
	line-height: 30px 
} 

.more-info{
	text-align: center;
}

.more-info p{
	margin: 18px 0 35px;
}

.more-info h2{ 
	margin: 50px 0 0;
}


 .highlight{
 	background-color: #ffadf9;
 	color: #ff3300;
 	padding: 5px 10px;
 	line-height: 50px;
 	display: inline;
 	font-weight: 800;	
 }

.sep{
	width: 470px;
	height: 10px;
	background-color: #111111;
	margin: 70px auto;
}

.story h3{
	font-size: 40px
}

.nb-list{
	width: 470px;
	padding: 20px 20px 0 20px;
	box-sizing: border-box;
	background-color: #EDEDED;
	margin: 0 20px 20px 0;
	float: left;
	

}


.nb-list li{
	height: 70px;
	border-radius: 10px;
	font-size: 40px;
	color: white;
	font-weight: bold;
	display: block;
	margin-bottom: 20px;
	padding: 6px 20px;
	box-sizing: border-box;
	position: relative; 
	 
}

.nb-list li.Red{background-color: #FF3300;}
.nb-list li.blue{background-color: #007fff;}
.nb-list li.gray{background-color: rgba(0,0,0, .1);}
.nb-list li.yellow{
	background-color: #ffd400;
	color: #111111;
}
.nb-list li.pink{background-color: #ffadf9;}
.nb-list li.salmon{background-color: #fa8072;}


.nb-list li.dragging{
	position: absolute;
	width: 10%;
	top: 0px;
	left: 10px;
	box-shadow: 0 2px 14px rgba(0,0,0, .3)
}





.gang-img{
	display: block;
	margin: 0 auto;
}

footer{
	text-align: center;
	color: rgba(0,0,0, .4);
	font-size: 20px;
	margin: 85px 0 45px;
	font-weight: bold;
}

footer a{
	color: rgba(0,0,0, .4);
}


/*
<div class="sep"></div>
	<div class="story" id="story">
		<ul class="nb-list">
			<li class="blue">Rock 'n Roll</li>
			<li class="gray">&nbsp;</li>
			<li class="yellow dragging">Laughter</li>
			<li class="Red">Square Offs</li>
			<li class="pink">Circuitous Routes</li>
			<li class="salmon">Trigonometry</li>
			<li class="blue">Red Hats</li>
			<li class="yellow">Being Silly</li>

	
		</ul>
		<h3>Left: Things We Find Important<br/>
		Below: Our Story</h3>
		<p>Once upon a time there was a group of shapes. They were mostly black and rectangular. They were mean and very mean and very serious</p>
		<p>And so they kicked the 3 shapes that didn't conform out of their gang, which was called the Right Angled Gang.</p>
		<p>And so These 3 shapes were very sad, but found great joy and comfort being around eacg other. They soon started having a lot of fun, started rocking and rolling, started being silly, and became the most well-known shape gang in the universe.</p>
		<p>They even started making fun of squares and rectangles in what they like to call 'Square Offs'!</p>
	</div>
	<div class="sep"></div>
	<img src="the-gang.png" width="735" height="399" alt="The Gang">
	*/

